
Student Records Login </br>
<table border = "1" width = "400">
	<tr>
		<td> User Name</td>
		<td></td>
	</tr>
	
	<tr>
		<td>Password</td>
		<td></td>
	
	</tr>
	
	<tr>
		<td>Login </td>
		<td> Reset </td>
	</tr>
	
</table>